@font-face {
  font-family: freehkfonts;
  src: url('../fonts/Free-HK-Kai_1_02.ttf') format('truetype');
  unicode-range: U+4E00-9FFF;
}

/*
CWTEX-M 明體
CWTEX-K 楷書
CWTEX-BB 黑體
CWTEX-R 圓體
CWTEX-F 仿宋體
*/

@font-face {
  font-family: CWTEXK;
  src: url('../fonts/kttf.ttf') format('truetype');
}


a{
    color:#0177FB;
}

h1, h2, h3, h4, h5, h6 {
		color: #1c447c !important;
	}
        
        strong, b {
		color: #1c447c;
                font-weight: 600;
	}
        
        header.alt{
            margin-bottom: 0.5em;
        }
        
        header.alt h4{
            margin-bottom: 0!important;
        }

#header .logo, #header .logo:hover{
    background-color: transparent;
}

#header .logo{
   height: 95%;
}

#header .logo a.title{
    height: 100%;
}


#header .logo img{
    height: 100%;
    padding-top: 0em;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
}

header.subtitle{
    
}

div.split{
    padding-top:1em;
}

div.split.left .row.alt{
    padding-right:2em;
}

div.split.left{
    border-right: 1px solid #dbdbdb;
}

.icon:before{
    color: #1c447c;
}

nav#nav i.icon{
    font-weight: bolder;
    font-size: 1.5em;
}

/* Color Theme Swatches in Hex */
.Vitamin-C-1-hex { color: #004358; }
.Vitamin-C-2-hex { color: #1c447c; }
.Vitamin-C-3-hex { color: #BEDB39; }
.Vitamin-C-4-hex { color: #FFE11A; }
.Vitamin-C-5-hex { color: #FD7400; }

/* Color Theme Swatches in RGBA */
.Vitamin-C-1-rgba { color: rgba(0, 66, 87, 1); }
.Vitamin-C-2-rgba { color: rgba(31, 137, 112, 1); }
.Vitamin-C-3-rgba { color: rgba(189, 219, 56, 1); }
.Vitamin-C-4-rgba { color: rgba(255, 225, 26, 1); }
.Vitamin-C-5-rgba { color: rgba(253, 116, 0, 1); }

/* Color Theme Swatches in HSLA */
.Vitamin-C-1-hsla { color: hsla(194, 100, 17, 1); }
.Vitamin-C-2-hsla { color: hsla(165, 63, 33, 1); }
.Vitamin-C-3-hsla { color: hsla(70, 69, 54, 1); }
.Vitamin-C-4-hsla { color: hsla(52, 100, 55, 1); }
.Vitamin-C-5-hsla { color: hsla(27, 100, 49, 1); }



/*Editor*/

#editor_dashboard{
    color:#656565;
}

div#editor_view_container{
    padding:2em;
    background-color: #dbdbdb;
    width: 100%;
}

div#editor_viewer{
    background-color: #FFF;
    width: 602px;
    height: 452px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}


@media screen and (max-width: 1680px) {
    div#editor_viewer{
         width: 600px;
        height: 450px;
    }
}

@media screen and (max-width: 1280px) {
    div#editor_view_container{
         padding:0.5em;
    }
}

@media screen and (max-width: 1080px) {
    div#editor_view_container{
         padding:2px;
    }
}

@media screen and (max-width: 980px) {
    div#editor_view_container{
         padding:0px;
    }
}


div#editor_nav{
    padding-left: 0em;
}

nav#editor_action_container{
    margin-top: 1em;
}

ul.editor-menu-action{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
    padding-left:0;
    
}

ul.editor-menu-action li {
        list-style: none;
        display: inline-block;
        text-align: center;
        padding-left: 0;
        margin-bottom: 1em;
      }
      
      ul.editor-menu-action li a{
          color:#1c447c;
          border-bottom-width: 0;
          font-size: 12pt;
          line-height: normal;
      }
      
      ul.editor-menu-action li a p{
          margin-top: -0.5em;
          line-height: normal;
          margin-bottom:  0;
      }

      ul.editor-menu-action li img{
          height: 4em;
          margin-bottom: 0.2em;
      }
      
      


@media screen and (max-width: 1680px) {
    
}

@media screen and (max-width: 1080px) {
     ul.editor-menu-action li img{
          height: 2em;
      }
}

@media screen and (max-width: 980px) {
    ul.editor-menu-action{
        flex-direction: row;
        margin-top: 0;
    }
    
    ul.editor-menu-action li {
        margin-bottom: 0em;
      }
      
     
}

@media screen and (max-width: 780px) {
     ul.editor-menu-action li img{
          height: 1.5em;
          margin-bottom: 0.2em;
      }
}




.editor-item-content-container{
    border:#1c447c  3px solid;
    border-radius: 10px;
    padding: 0 !important;
    background-color: #1c447c;
}

ul.sortable li{
    margin-top: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.5em;
}



.editor-item-content-container header{
    
    color: #FFF !important;
    width: 100%;
    
    /*margin-top: -0.01em;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-item-content-container header  h4, 
.editor-item-content-container header  a{
    color: #FFF !important;
}

.editor-item-content-container header  h4{
    padding: 0.5em 0 0em 1em;
    margin-bottom: 0.5em;
}

.editor-item-content-container header  h4{
    font-size: 12pt;
    max-width: 70%;
    overflow: hidden;
}

.editor-item-content-container header  a{
    text-decoration: none;
    border-bottom-width: 0;
}

.editor-item-content-container header  .icon:before{
    color: #FFF !important;
}

.editor-item-content-container header  .icon.delete:before{
    color: red !important;
}

.editor-item-content-container .content-container{
    display:none;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
}

.editor-item-content-container .content-container.active{
    display: block;
    padding: 0em 1em 1em 1em;
}

@media screen and (max-width: 1080px) {
    .editor-item-content-container header  h4{
        font-size: 10pt;
        font-weight: normal;
    }
}

.item-list-container{
    padding: 1em;
    padding-bottom: 0;
}

.item-list-image-container{
    padding: 0em 1em 0em 1em;
}

#editor_content_detail{
    background-color: #FFF;
    width: 100%;
    min-height: 20em;
    border-left:1px solid #dbdbdb;
    border-right:1px solid #dbdbdb;
    padding: 1em 2em;
}

.display-view{
    box-shadow: 0 1px 3px rgba(0,0,30,.3);
}

.photo-category-container a{
    margin-right: 0.5em;
    text-decoration: none;
    border-bottom-width: 0;
}

.photo-list-container{
    
}

.photo-list-container .photo-preview-container{
    
}

.photo-list-container .photo-preview-container .image{
    margin-bottom:  1em;
}

.photo-preview-container {
  position: relative;
  width: 50%;
}

.photo-preview-container .overlay {
  position: absolute;
  
  bottom: -2px;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 1.5em;
}

.photo-preview-container:hover .overlay {
  opacity: 0.8;
  height: 100%;
}


.photo-preview-container .text {
  color: white;
  font-size: 10pt;
  position: absolute;
  top:50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding:0.5em 0.5em 0 0.5em;
  line-height: normal;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.edit-tag-container{
    border:3px solid #1c447c;
    border-radius: 10px;
    
    padding:1em 2em;
    margin-bottom: 1em;
}

.edit-tag-container .list{
    min-height: 5em;
}

.search_row{
    display: flex;
    
}

.search_row input[type="text"]{
    width: calc(100%-8em)!important;
}

.search_row button{
    width: 8em;
}

.search_row.alt input[type="text"]{
    width: calc(100%-5em)!important;
}

.search_row.alt button{
    width: 5em;
}

@media screen and (max-width: 1080px) {
    .search_row.alt button{
    width: 2em;
}

}

.cover-img-container{
    text-align: center;
    display: block;
    text-decoration: none;
    border-bottom-width: 0;
}

.cover-img-container .image{
    margin-bottom: 0em;
}

.search_footer{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.page-container{
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.page-container a{
    padding:0.2em 0.7em;
    font-weight: bold;
    margin-left: 0.25em;
    margin-right: 0.25em;
    border-bottom-width: 0;
    color: #1c447c;
}

.page-container a:first-child{
    margin-left: 0.5em;
}

.page-container a:last-child{
    margin-right: 0.5em;
}

.page-container a.active{
    background-color: #1c447c;
    border-radius: 100%;
    color:#FFF;
}

.editor-content-container{
    display:none;
}

.editor-content-container.active{
    display:block;
}

.editor-content-obj{
    position: absolute !important;
    background-color: transparent;
    background: transparent;
    border-width: 0 !important;
    font-size: 14pt;
    
    /*overflow: hidden;*/
}

.editor-content-obj:hover{
    border-width: 1px !important;
}



.editor-content-obj pre{
    font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
     font-style: normal;
     text-align: left;
     padding:0;
     margin: 0;
     letter-spacing: normal;
     line-height: normal;
}

.editor-content-obj.time pre{
    font-family: "Times New Roman", Times, serif;
}

.editor-content-obj.arial pre{
    font-family: Arial, Helvetica, sans-serif;
}

.editor-content-obj.noto pre{
    font-family: 'Noto Sans HK', serif,  Helvetica;
}

.editor-content-obj.hk pre{
    font-family: 'freehkfonts', serif,  Helvetica;
}

.editor-content-obj.SimSun pre{
    font-family: 'SimSun', serif,  Helvetica;
}


.editor-content-obj.left pre{
    text-align: left;
}

.editor-content-obj.center pre{
    text-align: center;
}

.editor-content-obj.right pre{
    text-align: right;
}

.editor-content-obj.bold pre{
    font-weight: bold;
}

.editor-content-obj.italic pre{
    font-style: italic;
}

.editor-content-obj img{
    max-width: 600px;
    max-height: 450px;
    
}

.item-obj-img{
    width: 100%;
    height: 100%;
}

.editor.nav {
    display: none !important;
}

li.editor.nav.valid {
    display: block !important;;
}

.ui-rotatable-handle {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url(images/rotate.png);
    background-size: 100%;
    right: 10%;
    bottom: 50%;
    position: absolute;
    
}

.item-detail-container{
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease-out, opacity 2s ease-out;
}

.item-detail-container.active{
    display: block;
    visibility: visible;
    opacity: 1;
}

#item-character-view{
    padding:1em;
}

.item-character-container{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.item-character-container.active{
    display: block;
    visibility: visible;
    opacity: 1;
}

.item-cover-container{
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 1em;
}

.item-cover{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     -moz-transition: -moz-transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.item-cover:hover{
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}


.ui-resizable-s{
    height: 0px !important;
}

.ui-resizable-e{
    width: 0px!important;
}
